* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
}
img {
  max-width: 100%;
}
.container {
  padding: 1rem;
}

.slider-wraper {
  position: relative;
  max-width: 62rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.75rem);
  border-radius: 0.75rem;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

/* slider-nav */

.slider-nav {
  display: flex;
  column-gap: 0.5rem;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1rem;
}

.slider-nav a {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #43434392;
}
.slider-nav a:hover {
  background-color: #6370e9;
}
